# Project: Eacode Kernel
# File: public/.htaccess
# Purpose: Route requests to the front controller.
# Author: Ilja Nosov <info@eacode.lv>
# Copyright (c) 2025 eacode.lv
# License: MIT
# Date: 2025-12-29

# Route all requests to Slim front controller.
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
